# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*~
.DS_Store

## front-end
/**/node_modules/

# testing
/coverage

# production
/build

# misc
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*

# TMP
db
public
src
utilities
.env
.env.local
.env.development.local
changelog.txt
